

<%= form_for(Message.new, remote: true, html: {id: "new-message-form"}) do |f| %>
	<%= f.text_area :body, :style => "width: 380px; border-radius: 15px", :rows => "5" %>
	<%= hidden_field_tag "message[recipient_id]", user_id %> 
	<br> 
	<div class="message-submit group">
		<h2 class="message-submit-prompt">Say something to <%= @partner.username %></h2>
		<div class="message-submit-button">
			<%= f.submit "Send", :class => "btn" %>
		</div> 
	</div>
<% end %> 


<script> 
	
	$(document).ready(function () {
		
		$("#new-message-form").on("ajax:success", function (event, data) {
			var convoMessages = $(".convo-messages")

			if (<%= on_profile %>) {
				alert("Your message was sent!")
			} 
			else {
				alert("Your message was sent!")
				console.log(data);
				$(".convo-messages").prepend(data);
			}
			

			$("#message_body").val("");

		});

	});

</script> 
