<div class="homepage">
	<div class="home-header group">
		<div class="page-title">
			<% if @partner %>
				<h1>Conversation with <%= @partner.username %></h1>
			<% else %>
				<h1>Messages</h1>
			<% end %>
		</div> 
	</div>


	<div class="messages-main">
		<% if @conversations %>
			<div class="tabbable">
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Inbox</a></li>
			    <li><a href="#tab2" data-toggle="tab">Awaiting Reply</a></li>
			    <li><a href="#tab3" data-toggle="tab">Trash</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1">
			      <% @inbox.each do |convo| %>
			      	<% if convo.last.recipient.id == current_user.id %>
			      		<div class="message-snipet group"> 
			      			<div class="snipet-header">
									<% other_person = convo.last.sender %>
									<a href="/users/<%= other_person.id %>">
										<div class="single-message-thumb">
											<% if other_person.profile_pic %>
												<img src="<%= other_person.profile_pic.image.url(:thumb) %>" alt="" width="50" height="50">
											<% else %>
												<div class="small-anon-pic">
													<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTzokyVmgb8OiC4dVtoGcHXFAhvzyqm1TmDssGtKE-l0oYU66ut" alt="" width="50" height="50">
												</div>
											<% end %>
										</div>
										<%= other_person.username %><br>
									</a>
										<% if convo.any? {|message| message.read != true } %>
											<strong>*new message*</strong>
											<br>
										<% end %>
										<%= "Recieved " + time_ago_in_words(convo.last.created_at) + " ago" %>
									</div>
									<div class="snipet-preview">
										<a href="/users/<%= other_person.id %>/messages"><p>
											<%= convo.last.body.length > 500 ? convo.last.body[0..500] + "..." : convo.last.body %>
										</p></a>
									</div>
		 						</div>
		 						<hr>
							<% end %>
			      <% end %>
			    </div>
			    <div class="tab-pane" id="tab2">
			      <% @awaiting_reply.each do |convo| %>
			      	<% if convo.last.recipient.id != current_user.id %>
								<% other_person = convo.last.recipient %>
								<a href="/users/<%= other_person.id %>/messages">
									<%= "You sent a message to: " + other_person.username %><br>
								</a>
									<%= time_ago_in_words(convo.last.created_at) + " ago" %>
								<hr>
							<% end %>
			      <% end %>
			    </div>
			    <div class="tab-pane" id="tab3">
			      <p>Nothing here yet...</p>
			    </div>
			  </div>
			</div>

		<% elsif @conversation %>

			<section class="messages">
				<article class="message">

					<header class="message-header group">

						<div class="message-form">
			        <%= render partial: "message_form", locals: {user_id: params[:user_id], on_profile: false} %> 
			      </div>
					</header>

			      
			   
				</article>
			</section> 

			
      <div class="convo-messages">
      	<%= render partial: "all_messages_in_convo" %>
			</div>	


		<% end %>
	</div>


</div>


<script>
	
	$convoMessages = $(".convo-messages")

	$(document).ready(function () {

		<% if @partner %>
			window.setInterval(function() {

				$.ajax({
					url: "<%= messages_path %>",
					type: "GET",
					data: {
						"user_id" : <%= @partner.id %>
						},
					success: function(data) {
						$convoMessages.empty();
						$convoMessages.html(data);
					},
				});
			},1000);
		<% end %>

	});
	
</script> 