<div class="profile-main-container">

	<div class="profile-body">
		<div class="inner-profile-body">
			<% if @conversations %>
				<% @conversations.each do |convo| %> 
					<% if convo.last.recipient.id == current_user.id %>
						<% other_person = convo.last.sender %>
						<a href="/users/<%= other_person.id %>/messages">
							<%= "A message from: " + other_person.username %><br>
						</a>
							<%= "recieved " + time_ago_in_words(convo.last.created_at) + " ago" %>
						<hr>
					<% else %>
						<% other_person = convo.last.recipient %>
						<a href="/users/<%= other_person.id %>/messages">
							<%= "You sent a message to: " + other_person.username %><br>
						</a>
							<%= time_ago_in_words(convo.last.created_at) + " ago" %>
						<hr>
					<% end %>
					
				<% end %> 
			<% elsif @conversation %>

				<section class="messages">
					<article class="message">

						<header class="group">
							<div class="message-thumb">
								<img src="<%= current_user.profile_pic.image.url %>" alt="">
							</div>
						</header>

				      <div class="message-form">
				      	<h2>Send a message</h2>

				        <%= render partial: "message_form", locals: {user_id: params[:user_id]} %> 
				      </div>
				   
					</article>
				</section> 

				
	      <div class="convo-messages">
					<% @conversation.each do |mess| %>
							<%= render partial: "message", locals: {message: mess} %>
					<% end %> 
				</div>
			<% end %> 
			
		</div> <!-- end inner-profile-body --> 
	</div> <!-- end profile-body --> 

</div> <!-- end profile-main-container --> 





