<h1>Like someone's face? Add their pictures!</h1>
<p>NOTE: Only add good headshots of the person you're thinking of. The better quality the pictures, the better the results</p>
<br>
<p>coming soon... Pick someone from facebook!</p>
<p>coming soon... Pick someone already on our site!</p>


<%= form_for(@type) do |f| %>
	<%= f.fields_for(:photos) do |p| %>
		<%= render partial: "photos/add_type_photo", locals: {f: p} %> 
	<% end %>
	<h3>Add more pics for better results!</h3>
	<div class="btn" id="add-type-pics">Add Another Pic</div>
	<div class="additional-type-pics"></div>
	<%= f.submit "Do it!" %>
<% end %> 

<!-- next thing is to add the ability to add multiple pics on the fly! -->


<script>


	var $more_pics = $("#add-type-pics");
	var $placeholder = $(".additional-type-pics");
	var current_pic_num = 1;
    	

	
	$(document).ready(function () {

		

    $more_pics.on("click", function (event) {
    	<% @type.photos.build %>

    	var label = "<label for='type_photos_attributes_" + current_pic_num + "_image'>Upload Image</label>";

			var input1 = "<input id='type_photos_shares_attributes_" + current_pic_num + "_image' name='type[photos_attributes][" + current_pic_num + "][image]' type='file' />";

			var input2 = "<input name='type[photos_attributes][" + current_pic_num + "][is_user]' type='hidden' value='false' />";

			var input3 = "<input name='type[photos_attributes][" + current_pic_num + "][photo_age]' type='hidden' value='0' />";

			var input4 = "<input name='type[photos_attributes][" + current_pic_num + "][single_person]' type='hidden' value='true' />";

			var input5 = "<input name='type[photos_attributes][" + current_pic_num + "][photo_type]' type='hidden' value='face' />";

			var input6 = "<input name='type[photos_attributes][" + current_pic_num + "][approved]' type='hidden' value='true' />";

			var input7 = "<input name='type[photos_attributes][" + current_pic_num + "][user_id]' type='hidden' value='" + <%= current_user.id %> + "' />";

    	event.preventDefault;
    	$placeholder.append(label);
    	$placeholder.append(input1);
    	$placeholder.append(input2);
    	$placeholder.append(input3);
    	$placeholder.append(input4);
    	$placeholder.append(input5);
    	$placeholder.append(input6);
    	$placeholder.append(input7);
    	current_pic_num += 1;
    })

	});


</script> 
