<div class="homepage">
  <div class="home-header group">

    <div class="page-title">
      <h1>Face-Matching Search</h1>
    </div> 
  </div>

  <div class="page-sub-title">
    <h2>Instructions</h2>
    <p>Upload a photo (or several) of a single person you find attractive. We'll find the closest matching singles in our database</p> 
    <p>Add as many photos of your ideal match as you like. More is better, but make sure to use only high-quality headshots. The better the pictures, the better the results.</p>
  </div>

  <%= form_for(@type) do |f| %>
  	<%= f.fields_for(:photos) do |p| %>
  		<%= render partial: "photos/add_type_photo", locals: {f: p} %> 
  	<% end %>
  	<div class="additional-type-pics"></div>
    <div class="type-match-form-actions group"> 
      <div class="btn" id="add-type-pics">Add Another Pic</div>
    	<div><%= f.submit "Start Search", class: "type-match-submit btn btn-primary" %></div>
    </div>
  <% end %> 

  

</div>

<!-- next thing is to add the ability to add multiple pics on the fly! -->


<script>


	var $more_pics = $("#add-type-pics");
	var $placeholder = $(".additional-type-pics");
	var current_pic_num = 1;
    	

	
	$(document).ready(function () {

		

    $more_pics.on("click", function (event) {
    	<% @type.photos.build %>

    	var label = "<label for='type_photos_attributes_" + current_pic_num + "_image'>Upload Image</label>";

			var input1 = "<input id='type_photos_shares_attributes_" + current_pic_num + "_image' name='type[photos_attributes][" + current_pic_num + "][image]' type='file' />";

			var input2 = "<input name='type[photos_attributes][" + current_pic_num + "][is_user]' type='hidden' value='false' />";

			var input3 = "<input name='type[photos_attributes][" + current_pic_num + "][photo_age]' type='hidden' value='0' />";

			var input4 = "<input name='type[photos_attributes][" + current_pic_num + "][single_person]' type='hidden' value='true' />";

			var input5 = "<input name='type[photos_attributes][" + current_pic_num + "][photo_type]' type='hidden' value='face' />";

			var input6 = "<input name='type[photos_attributes][" + current_pic_num + "][approved]' type='hidden' value='true' />";

			var input7 = "<input name='type[photos_attributes][" + current_pic_num + "][user_id]' type='hidden' value='" + <%= current_user.id %> + "' />";

			var input8 = "<input name='type[photos_attributes][" + current_pic_num + "][is_profile_pic]' type='hidden' value='false' />";

    	event.preventDefault;
    	$placeholder.append(label);
    	$placeholder.append(input1);
    	$placeholder.append(input2);
    	$placeholder.append(input3);
    	$placeholder.append(input4);
    	$placeholder.append(input5);
    	$placeholder.append(input6);
    	$placeholder.append(input7);
    	$placeholder.append(input8);
    	current_pic_num += 1;
    })

	});


</script> 
