

<div class="photoscroll">
	<div class="grid-container group">
		<div class="photogrid group">
			<% if @users.empty? %>
				<h1>Hmmmm... nothing here</h1>
			<% end %>
			<% @users.each do |user| %>
				<div class="replace-user" id="replace-user-<%= user.id %>">
					<%= render partial: "profile_display", locals: {user: user} %>
				</div>
			<% end %> 
		</div> 
	</div>
	
</div> 



<script>
	

	$(document).ready(function () {

		var $next = $("#next-6")
		var $previous = $("#previous-6")
		var $browseMaster = $(".browse-master")

		var $remainingLikes = $(".remaining-likes")

		<% @users.each do |user| %>

			$.ajax({
				url: "users/<%= user.id %>/likings",
				type: "GET",
				data: {
						"liked_user_id" : "<%= user.id %>",
					},
				success: function(data) {
					var $totalLikes = $("#total-likes-<%= user.id %>")
					$totalLikes.html(data);
				}
			});
			

			var $likeAction = $("#like-action-<%= user.id %>")


			$likeAction.on("click", function (event) {

				$.ajax({
					url: "<%= likings_path %>",
					type: "POST",
					data: {
							"liked_user_id" : "<%= user.id %>",
							"liking_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						$remainingLikes.empty();
						$remainingLikes.html(data)
						$.ajax({
							url: "users/<%= user.id %>/likings",
							type: "GET",
							data: {
									"liked_user_id" : "<%= user.id %>",
								},
							success: function(data) {
								var $totalLikes = $("#total-likes-<%= user.id %>")
								$totalLikes.empty();
								$totalLikes.html(data);
							}
						});
					}
				});

			});


			var $shunAction = $("#shun-action-<%= user.id %>")

			$shunAction.on("click", function (event) {

				$.ajax({
					url: "<%= shunnings_path %>",
					type: "POST",
					data: {
							"shunned_user_id" : "<%= user.id %>",
							"shunning_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						// explode really doesn't seem to look right, but kind of works
						var $shunnedUser = $("#replace-user-<%= user.id %>") 
						var $shunnedUserImage = $("#user-pic-<%= user.id %>") 
						$shunnedUserImage.effect("explode", {pieces: 9}, 1000);
						$shunnedUser.empty();
						$shunnedUser.addClass(".destroyed");
					}
				});


				$.ajax({
				url: "/" + "<%= @user_index %>",
				type: "GET",
				data: {
						"page" : <%= page %>
					},
				success: function(data) {
					<% if @users.size <= 6 %> 
						$next.addClass("destroyed");
					<% end %>
					$browseMaster.empty();
					$browseMaster.html(data);
					}
				});		

			});


			var $UnShunAction = $("#unshun-action-<%= user.id %>")

			$UnShunAction.on("click", function (event) {

				$.ajax({
					url: "<%= shunning_path(user) %>",
					type: "DELETE",
					data: {
							"shunned_user_id" : "<%= user.id %>",
							"shunning_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						// explode really doesn't seem to look right, but kind of works
						var $shunnedUser = $("#replace-user-<%= user.id %>") 
						var $shunnedUserImage = $("#user-pic-<%= user.id %>") 
						$shunnedUserImage.effect("explode", {pieces: 9}, 1000);
						$shunnedUser.empty();
						$shunnedUser.addClass(".destroyed");
					}
				});

				$.ajax({
					url: "/" + "<%= @user_index %>",
					type: "GET",
					data: {
							"page" : <%= page %>
						},
					success: function(data) {
						<% if @users.size <= 6 %> 
							$next.addClass("destroyed");
						<% end %>
						$browseMaster.empty();
						$browseMaster.html(data);
					}
				});	

			});


		<% end %> 




	});


</script> 