<div class="homepage">
	<div class="home-header group">

		<div class="page-title">
			<h1>Browse</h1>
		</div> 
	</div>

	<div class="photoscroll">
		<div class="grid-container group">
			<div class="photogrid group">
				<% if @users.empty? %>
					<h1>Hmmmm... nothing here</h1>
				<% end %>
				<% @users.each do |user| %>
					<div id="replace-user-<%= user.id %>">
						<%= render partial: "profile_display", locals: {user: user} %>
					</div>
				<% end %> 
			</div> 
		</div>
		
	</div> 

</div>


<script>
	

	$(document).ready(function () {

		

		var $remainingLikes = $(".remaining-likes")

		<% @users.each do |user| %>

			$.ajax({
				url: "users/<%= user.id %>/likings",
				type: "GET",
				data: {
						"liked_user_id" : "<%= user.id %>",
					},
				success: function(data) {
					var $totalLikes = $("#total-likes-<%= user.id %>")
					$totalLikes.html(data);
				}
			});
			

			var $likeAction = $("#like-action-<%= user.id %>")


			$likeAction.on("click", function (event) {

				$.ajax({
					url: "<%= likings_path %>",
					type: "POST",
					data: {
							"liked_user_id" : "<%= user.id %>",
							"liking_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						console.log("success!");
						$remainingLikes.empty();
						$remainingLikes.html(data)
						$.ajax({
							url: "users/<%= user.id %>/likings",
							type: "GET",
							data: {
									"liked_user_id" : "<%= user.id %>",
								},
							success: function(data) {
								var $totalLikes = $("#total-likes-<%= user.id %>")
								$totalLikes.empty();
								$totalLikes.html(data);
							}
						});
					}
				});

			});


			var $shunAction = $("#shun-action-<%= user.id %>")

			$shunAction.on("click", function (event) {

				$.ajax({
					url: "<%= shunnings_path %>",
					type: "POST",
					data: {
							"shunned_user_id" : "<%= user.id %>",
							"shunning_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						// explode really doesn't seem to look right, but kind of works
						var $shunnedUser = $("#replace-user-<%= user.id %>") 
						var $shunnedUserImage = $("#user-pic-<%= user.id %>") 
						$shunnedUserImage.effect("explode", {pieces: 9}, 1000);
						$shunnedUser.empty();
						$shunnedUser.addClass(".destroyed");
					}
				});

			});

		<% end %> 




	});


</script> 