
<div class="photo-frame">

	<div class="user-frame" id="user-frame-<%= user.id %>">
		
		<% if user.profile_pic %> 
			<a href="/users/<%= user.id %>">
				<img src="<%= user.profile_pic.image.url(:small) %>" id="user-pic-<%= user.id %>">
				<%= render partial: "users/online_now", locals: {user: user} %>
			</a>
		<% else %> 
			<a href="/users/<%= user.id %>"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTzokyVmgb8OiC4dVtoGcHXFAhvzyqm1TmDssGtKE-l0oYU66ut" width="225px" height="225px"></a>
		<% end %>
		<% if user.id != current_user.id %>
			<div class="user-interactions group">
				<% if @user_index == "blacklist" %>
					<div class="display-name">
						<%= user.username %>
					</div>
					<div class="unshun-container">
						<div class="unshun-action btn btn-danger" id="unshun-action-<%= user.id %>">Un-Shun</div>
					</div>
				<% else %>
		<!-- 			<%#= render partial: "users/small_stats", locals: {user: user} %> -->
		<!-- 			<div class="total-likes" id="total-likes-<%= user.id %>"></div> -->
					<div class="display-name">
						<%= user.username %>
					</div>
					<div class="like-action btn btn-info" id="like-action-<%= user.id %>">Like</div>
					<div class="shun-action btn btn-danger" id="shun-action-<%= user.id %>">Shun</div>
				<% end %>
			</div>


		<% else %>
			<div class="user-interactions group">
				<div class="display-name">
					<%= user.username %>
				</div>
			</div>
		<% end %>
	</div>

</div>
