<!-- requires a local for the user -->

<div class="vital-stats">
	<ul>
		<li><span class="profile-detail">Hometown:</span> <%= @user.zipcode || " -- " %></li>
		<li><span class="profile-detail">Height:</span> <%= "#{@user.height / 12}' #{@user.height % 12}\"" || " -- " if @user.height %></li>
		<li><span class="profile-detail">Weight:</span> <%= @user.weight.to_s + " lbs" || " -- " if @user.weight %></li>
		<li><span class="profile-detail">Body Type:</span> <%= @user.body_type || " -- " %></li>
		<li><span class="profile-detail">Ethnicity:</span> <%= @user.ethnicity || " -- " %></li>
		<li><span class="profile-detail">Orientation:</span> <%= @user.orientation || " -- " %></li>
		<li><span class="profile-detail">Relationship Status:</span> <%= @user.relationship_status || " -- " %></li>
	</ul>
</div> 