
<div class="homepage">
	<div class="home-header group">

		<div class="page-title">
			<% case @user_index %>
			<% when "browse" %>
				<h1><%= @user_index.capitalize %></h1>
			<% when "blacklist" %>
				<h1>Shunned Users</h1>
			<% when "" %>
				<h1>Fresh Meat</h1>
			<% end %>
		</div> 
	</div>

	<div class="browse-master"> 
		<%= render partial: "master_browse", locals: {first_page: first_page, total_pages: total_pages, page: page} %>
	</div>
		<div class="photogrid-nav group">
			<div class="btn" id="previous-6">
				Previous
			</div> 
			<div class="btn" id="next-6">
				Next 
			</div>
		</div> 

</div>



<script>

	$(document).ready(function () {

		var $browseMaster = $(".browse-master")

		var pageCounter = 1

		var $next = $("#next-6")
		var $previous = $("#previous-6")
		var $gridContainer = $(".grid-container")

		if (pageCounter == <%= total_pages %>) {
			$next.addClass("destroyed");
		}

		if (pageCounter == 1) {
			$previous.addClass("destroyed");
		}


		$next.on("click", function () {
			pageCounter += 1
			

			$.ajax({
				url: "/" + "<%= @user_index %>",
				type: "GET",
				data: {
						"page" : pageCounter,
					},
				success: function(data) {
					$browseMaster.empty();
					$browseMaster.html(data);
					if ($previous.hasClass("destroyed")) {
						$previous.removeClass("destroyed");
					}
					if (pageCounter == <%= total_pages %>) {
						$next.addClass("destroyed");
					}
				}
			});

		});


		$previous.on("click", function () {
			pageCounter -= 1

			$.ajax({
				url: "/" + "<%= @user_index %>",
				type: "GET",
				data: {
						"page" : pageCounter,
					},
				success: function(data) {
					$browseMaster.empty();
					$browseMaster.html(data);
					if ($next.hasClass("destroyed")) {
						$next.removeClass("destroyed");
					}
					if (pageCounter == 1) {
						$previous.addClass("destroyed");
					}
				}
			});

		});


	})


</script> 