<div class="remaining-likes"><%= render partial: "users/remaining_likes" %></div> 

<div class="photogrid">
	<% if @users.empty? %>
		<h1>Hmmmm... nothing here</h1>
	<% else %>
		<h1>All Users</h1>
	<% end %>
	<% @users.each do |user| %>
		<%= render partial: "results_display", locals: {user: user} %>
		<br>
	<% end %> 
</div> 


<script>
	

	$(document).ready(function () {


		var $remainingLikes = $(".remaining-likes")

		<% @users.each do |user| %>

			$.ajax({
				url: "users/<%= user.id %>/likings",
				type: "GET",
				data: {
						"liked_user_id" : "<%= user.id %>",
					},
				success: function(data) {
					var $totalLikes = $("#total-likes-<%= user.id %>")
					$totalLikes.html(data);
				}
			});
			

			var $likeAction = $("#like-action-<%= user.id %>")


			$likeAction.on("click", function (event) {

				$.ajax({
					url: "<%= likings_path %>",
					type: "POST",
					data: {
							"liked_user_id" : "<%= user.id %>",
							"liking_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						console.log("success!");
						$remainingLikes.empty();
						$remainingLikes.html(data)
						$.ajax({
							url: "users/<%= user.id %>/likings",
							type: "GET",
							data: {
									"liked_user_id" : "<%= user.id %>",
								},
							success: function(data) {
								var $totalLikes = $("#total-likes-<%= user.id %>")
								$totalLikes.empty();
								$totalLikes.html(data);
							}
						});
					}
				});

			});


			var $shunAction = $("#shun-action-<%= user.id %>")

			$shunAction.on("click", function (event) {

				$.ajax({
					url: "<%= shunnings_path %>",
					type: "POST",
					data: {
							"shunned_user_id" : "<%= user.id %>",
							"shunning_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						// explode really doesn't seem to look right, but kind of works
						var $shunnedUser = $("#user-frame-<%= user.id %>") 
						var $shunnedUserImage = $("#user-pic-<%= user.id %>") 
						$shunnedUserImage.effect("explode", {pieces: 9}, 1000);
						$shunnedUser.empty();
						$shunnedUser.addClass(".destroyed");
					}
				});

			});

		<% end %> 




	});


</script> 

