<div class="remaining-likes"><%= render partial: "users/remaining_likes" %></div> 

<div class="photogrid">
	<% if @newest_users.empty? %>
		<h1>Hmmmm... nothing here</h1>
	<% else %>
		<h1>Fresh Meat</h1>
	<% end %>
	<% @newest_users.each do |user| %>
		<div class="user-frame" id="user-frame-<%= user.id %>">
			<%= user.username %>
			<% if user.profile_pic %> 
				<a href="/users/<%= user.id %>">
					<img src="<%= user.profile_pic.image.url %>" id="user-pic-<%= user.id %>" width="225px">
					<%= render partial: "users/online_now", locals: {user: user} %>
				</a>
			<% else %> 
				<a href="/users/<%= user.id %>"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTzokyVmgb8OiC4dVtoGcHXFAhvzyqm1TmDssGtKE-l0oYU66ut"></a>
			<% end %> 
			<%= render partial: "users/small_stats", locals: {user: user} %>
			<div class="total-likes" id="total-likes-<%= user.id %>"></div>
			<div class="like-action btn btn-info" id="like-action-<%= user.id %>">Like</div>
			<div class="shun-action btn btn-danger" id="shun-action-<%= user.id %>">Shun</div>
		</div>
		<br>
	<% end %> 
</div> 

<div class="recent-vistors">
	<ul>
	<% Visit.where(visitee_id: current_user.id).order("id DESC").each do |visit| %>
		<li><%= User.find(visit.visitor_id).username %> visited your profile</li>
	<% end %> 
	</ul> 
</div> 
		<!-- feed goes here -->


<script>
	

	$(document).ready(function () {


		var $remainingLikes = $(".remaining-likes")

		<% @newest_users.each do |user| %>

			$.ajax({
				url: "users/<%= user.id %>/likings",
				type: "GET",
				data: {
						"liked_user_id" : "<%= user.id %>",
					},
				success: function(data) {
					var $totalLikes = $("#total-likes-<%= user.id %>")
					$totalLikes.html(data);
				}
			});
			

			var $likeAction = $("#like-action-<%= user.id %>")


			$likeAction.on("click", function (event) {

				$.ajax({
					url: "<%= likings_path %>",
					type: "POST",
					data: {
							"liked_user_id" : "<%= user.id %>",
							"liking_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						console.log("success!");
						$remainingLikes.empty();
						$remainingLikes.html(data)
						$.ajax({
							url: "users/<%= user.id %>/likings",
							type: "GET",
							data: {
									"liked_user_id" : "<%= user.id %>",
								},
							success: function(data) {
								var $totalLikes = $("#total-likes-<%= user.id %>")
								$totalLikes.empty();
								$totalLikes.html(data);
							}
						});
					}
				});

			});


			var $shunAction = $("#shun-action-<%= user.id %>")

			$shunAction.on("click", function (event) {

				$.ajax({
					url: "<%= shunnings_path %>",
					type: "POST",
					data: {
							"shunned_user_id" : "<%= user.id %>",
							"shunning_user_id" : "<%= current_user.id %>"  
						},
					success: function(data) {
						// explode really doesn't seem to look right, but kind of works
						var $shunnedUser = $("#user-frame-<%= user.id %>") 
						var $shunnedUserImage = $("#user-pic-<%= user.id %>") 
						$shunnedUserImage.effect("explode", {pieces: 9}, 1000);
						$shunnedUser.empty();
						$shunnedUser.addClass(".destroyed");
					}
				});

			});

		<% end %> 




	});


</script> 