<div class="profile-edit"> 
  <h1>All About You</h1>

  <div class="essays-form">
  <%= form_for(@user, {url: "/users/profile"}) do |f| %>
  	 <div>
      <%= f.label :about_me, "I ended up here because..." %>
      <%= f.text_area :about_me, :style => "width: 380px; border-radius: 15px", :rows => "5" %>
      <br>
      <%= f.label :about_my_match, "I'll settle for..." %>
      <%= f.text_area :about_my_match, :style => "width: 380px; border-radius: 15px", :rows => "5" %>
      <br>
      <%= f.label :dealbreakers, "But I will never accept..." %>
      <%= f.text_area :dealbreakers, :style => "width: 380px; border-radius: 15px", :rows => "5" %>
    </div>
  </div> 

  	<div>
      <%= submit_tag("Save Essays") %>
    </div>
  <% end %>
</div>