<div class="homepage">
	<div class="home-header group">

		<div class="page-title">
			<h1><%= @user.username %>'s page</h1>
		</div> 
	</div>

	<div class="profile-head group">
		<div class="user-picture"> 
			<%= render partial: "users/small_user", locals: {user: @user} %>
		</div>

		<div class="user-details">
			<%= render partial: "users/small_stats", locals: {user: @user} %>
			<%= render partial: "users/vital_stats" %>
			<% if @user.id == current_user.id %>
				<a href="<%= edit_user_path(@user) %>">Edit Details</a>
			<% end %>
		</div>
		<% if current_user.id != @user.id %> 
			<div class="profile-message-form">
				<%= render partial: "messages/message_form", locals: {user_id: params[:id], on_profile: true} %>
			</div> 
		<% end %>
	</div>

	<div id="add-pics">
		<% if @user.id == current_user.id %>
			<a href="<%= new_photo_path %>">(add more photos)</a>
		<% end %> 
	</div>

	<section class="bottom-profile-container">
		


		<div class="personal-essays-container">
			<div id="about-me">
				<h1>How I Ended Up Here</h1>
				<p><%= @user.about_me.nil? ? "Nothing here yet..." : @user.about_me %></p>
			</div>
			<div id="about-my-match">
				<h1>What I'll Settle For</h1>
				<p><%= @user.about_my_match.nil? ? "Nothing here yet..." : @user.about_my_match %></p>
			</div>
			<div id="dealbreakers">
				<h1>But No Way Will I Accept</h1>
				<p><%= @user.dealbreakers.nil? ? "Nothing here yet..." : @user.dealbreakers %></p>
			</div>
			<% if @user.id == current_user.id %>
				<a href="<%= current_user.id %>/profile">Edit Essays</a>
			<% end %>
		</div> 
		

	</section>

</div> 




<script>

	$(document).ready(function () {

	var $remainingLikes = $(".remaining-likes")

			$.ajax({
				url: "<%= @user.id %>/likings",
				type: "GET",
				data: {
						"liked_user_id" : "<%= @user.id %>",
					},
				success: function(data) {
					var $totalLikes = $("#total-likes-<%= @user.id %>")
					$totalLikes.html(data);
				}
			});
			

		var $likeAction = $("#like-action-<%= @user.id %>")

		$likeAction.on("click", function (event) {

			$.ajax({
				url: "<%= likings_path %>",
				type: "POST",
				data: {
						"liked_user_id" : "<%= @user.id %>",
						"liking_user_id" : "<%= current_user.id %>"  
					},
				success: function(data) {
					console.log("success!");
					$remainingLikes.empty();
					$remainingLikes.html(data)
					$.ajax({
						url: "<%= @user.id %>/likings",
						type: "GET",
						data: {
								"liked_user_id" : "<%= @user.id %>",
							},
						success: function(data) {
							var $totalLikes = $("#total-likes-<%= @user.id %>")
							$totalLikes.empty();
							$totalLikes.html(data);
						}
					});
				}
			});

		});


		var $shunAction = $("#shun-action-<%= @user.id %>")
		var $interactionNav = $(".interaction-nav")

		$shunAction.on("click", function (event) {

			$.ajax({
				url: "<%= shunnings_path %>",
				type: "POST",
				data: {
						"shunned_user_id" : "<%= @user.id %>",
						"shunning_user_id" : "<%= current_user.id %>"  
					},
				success: function(data) {
					// explode really doesn't seem to look right, but kind of works
					var $shunnedUser = $("#user-frame-<%= @user.id %>") 
					var $shunnedUserImage = $("#user-pic-<%= @user.id %>")
					$likeAction.off();
					$shunAction.off();
					$interactionNav.empty();
				}
			});

		});

	});


</script>